{% extends 'news-feed/layout' %}

{% block content %}

  <style type="text/css">
  img.avatar { position: absolute; margin-left: -60px; margin-top: 10px; }
  </style>

{% when user %}
  <div class="jumbotron" style="background: url({{user.cover.source}}) top center;">
    <div style="background-color: rgba(255,255,255,0.4);">
      <h1>{{ _t('.hello_x', 'name', user.first_name) }}</h1>
      <p class="lead">{{ _t('.description') }}</p>
    </div>
    <a class="btn btn-large btn-success" href="#">{{ _t('.see_source') }}</a>
  </div>
{% endwhen %}

  <hr style="margin: 0" />

{% when posts %}
  {% for post in posts %}
    <div class="row-fluid marketing">
      <div class="span12">
        <img src="https://graph.facebook.com/{{post.from.id}}/picture" class="avatar" />
        <h5>{{post.from.name}}{% if post.to %} → {{post.to.name}}{% endif %}</h5>
        {% if post.message %}<p>{{post.message}}</p>{% endif %}
        {% if post.picture %}
          <div>
            {% if post.link %}
              <a href="{{post.link}}" target="_blank" class="pull-left"><img src="{{post.picture}}" style="margin-right: 10px;" /></a>
              <a href="{{post.link}}" target="_blank">
                {{post.name}}<br/>
                {{post.caption}}
              </a>
              <p>{{post.description}}</p>
            {% else %}
              <img src="{{post.picture}}" class="pull-left" style="margin-right: 10px;" />
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endwhen %}

{% endblock %}
